HTML,CSS,JavaScript/XML - LabTest/Question3/schema XSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.secret.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BookCatalogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="author" minOccurs="0"/>
              <xs:element type="xs:string" name="Author" minOccurs="0"/>
              <xs:element type="xs:short" name="Date"/>
              <xs:element type="xs:string" name="ISBN"/>
              <xs:element type="xs:string" name="Publisher"/>
              <xs:element name="Cost">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currency" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>